In [1]:
import pandas as pd

t=10

In [2]:
logdf = pd.read_csv("log.csv")
df1 = pd.read_csv("Charging Stations\CS_01.csv")
df2 = pd.read_csv("Charging Stations\CS_02.csv")
df3 = pd.read_csv("Charging Stations\CS_03.csv")
df4 = pd.read_csv("Charging Stations\CS_04.csv")
df5 = pd.read_csv("Charging Stations\CS_05.csv")
df6 = pd.read_csv("Charging Stations\CS_06.csv")
df7 = pd.read_csv("Charging Stations\CS_07.csv")
df8 = pd.read_csv("Charging Stations\CS_08.csv")
df9 = pd.read_csv("Charging Stations\CS_09.csv")
df10= pd.read_csv("Charging Stations\CS_10.csv")
df11= pd.read_csv("Charging Stations\CS_11.csv")
df12= pd.read_csv("Charging Stations\CS_12.csv")
df13= pd.read_csv("Charging Stations\CS_13.csv")
df14= pd.read_csv("Charging Stations\CS_14.csv")

In [3]:
station = ['CS_01','CS_02','CS_03','CS_04','CS_05','CS_06','CS_07','CS_08','CS_09','CS_10','CS_11','CS_12','CS_13','CS_14']
distance = ['05','12','19','40','02','09','04','16','20','24','90','45','44','60']

In [4]:
df1.set_index('Hour', inplace=True)
df2.set_index('Hour', inplace=True)
df3.set_index('Hour', inplace=True)
df4.set_index('Hour', inplace=True)
df5.set_index('Hour', inplace=True)
df6.set_index('Hour', inplace=True)
df7.set_index('Hour', inplace=True)
df8.set_index('Hour', inplace=True)
df9.set_index('Hour', inplace=True)
df10.set_index('Hour', inplace=True)
df11.set_index('Hour', inplace=True)
df12.set_index('Hour', inplace=True)
df13.set_index('Hour', inplace=True)
df14.set_index('Hour', inplace=True)

In [5]:
df1 = df1[df1.index==t]
df1

dff = df1

In [6]:
df2 = df2[df2.index==t]
df2

dff = dff.append(df2)

In [7]:
df3 = df3[df3.index==t]
df3

dff = dff.append(df3)

In [8]:
df4 = df4[df4.index==t]
df4

dff = dff.append(df4)

In [9]:
df5 = df5[df5.index==t]
df5

dff = dff.append(df5)

In [10]:
df6 = df6[df6.index==t]
df6

dff = dff.append(df6)

In [11]:
df7 = df7[df7.index==t]
df7

dff = dff.append(df7)

In [12]:
df8 = df8[df8.index==t]
df8

dff = dff.append(df8)

In [13]:
df9 = df9[df9.index==t]
df9

dff = dff.append(df9)

In [14]:
df10 = df10[df10.index==t]
df10

dff = dff.append(df10)

In [15]:
df11 = df11[df11.index==t]
df11

dff = dff.append(df11)

In [16]:
df12 = df12[df12.index==t]
df12

dff = dff.append(df12)

In [17]:
df13 = df13[df13.index==t]
df13

dff = dff.append(df13)

In [18]:
df14 = df14[df14.index==t]
df14

dff = dff.append(df14)

In [19]:
dff['Station'] = station
dff['Distance(km)'] = distance

In [20]:
dff.set_index('Station', inplace=True)

In [28]:
dff.to_csv('Analysis\T1.csv')

In [22]:
dff

         Energy   Predicted    Amount Distance(km)
Station
CS_01        56   60.025352  4.025352           05
CS_02        54   57.988984  3.988984           12
CS_03       160  165.075174  5.075174           19
CS_04        93   97.532599  4.532599           40
CS_05        86   90.454347  4.454347           02
CS_06       140  144.941642  4.941642           09
CS_07       132  136.882802  4.882802           04
CS_08       183  188.209486  5.209486           16
CS_09        89   93.488636  4.488636           20
CS_10       198  203.288267  5.288267           24
CS_11       153  158.030438  5.030438           90
CS_12       219  224.389072  5.389072           45
CS_13       107  111.672829  4.672829           44
CS_14       256  261.545177  5.545177           60

In [23]:
dff.sort_values("Amount", axis = 0, ascending = True, inplace = True)
dff

         Energy   Predicted    Amount Distance(km)
Station
CS_02        54   57.988984  3.988984           12
CS_01        56   60.025352  4.025352           05
CS_05        86   90.454347  4.454347           02
CS_09        89   93.488636  4.488636           20
CS_04        93   97.532599  4.532599           40
CS_13       107  111.672829  4.672829           44
CS_07       132  136.882802  4.882802           04
CS_06       140  144.941642  4.941642           09
CS_11       153  158.030438  5.030438           90
CS_03       160  165.075174  5.075174           19
CS_08       183  188.209486  5.209486           16
CS_10       198  203.288267  5.288267           24
CS_12       219  224.389072  5.389072           45
CS_14       256  261.545177  5.545177           60

In [24]:
dff.sort_values("Distance(km)", axis = 0, ascending = True, inplace = True)
dff = dff.reset_index()
dff

   Station  Energy   Predicted    Amount Distance(km)
0    CS_05      86   90.454347  4.454347           02
1    CS_07     132  136.882802  4.882802           04
2    CS_01      56   60.025352  4.025352           05
3    CS_06     140  144.941642  4.941642           09
4    CS_02      54   57.988984  3.988984           12
5    CS_08     183  188.209486  5.209486           16
6    CS_03     160  165.075174  5.075174           19
7    CS_09      89   93.488636  4.488636           20
8    CS_10     198  203.288267  5.288267           24
9    CS_04      93   97.532599  4.532599           40
10   CS_13     107  111.672829  4.672829           44
11   CS_12     219  224.389072  5.389072           45
12   CS_14     256  261.545177  5.545177           60
13   CS_11     153  158.030438  5.030438           90

In [25]:
station = dff.at[0,'Station']
station

'CS_05'

In [26]:
log = {'Time':[t],'Req Cs':['CS_00'],'From CS':[station]}
logdf = pd.DataFrame(log)
logdf.set_index('Time', inplace=True)
logdf

     Req Cs From CS
Time
10    CS_01   CS_05

In [27]:
logdf.to_csv('log.csv', mode='a', header=False)