In [1]:
import pandas as pd
distancedf = pd.read_csv('distance.csv')
masterdf   = pd.read_csv('MasterSheet.csv')
logdf = pd.read_csv("log.csv")

In [2]:
cscount  = len(masterdf.index)
time     = 12
reqcs    = 'CS_11'

#make time, reqcs dynamic

In [3]:
i=1
flag=0
while(i<=cscount):
    cs = "CS_"+str(i)
    if(cs!=reqcs):
        df = pd.read_csv("cs_data\\"+cs+".csv")
        df.set_index('Hour', inplace=True)
        df = df[df.index==time]
        if(flag==0):
            flag= 1
            dff = df
        else:
            dff = dff.append(df)
    i=i+1   

#get datas corresponding to cs and time

In [4]:
station = []
temp_distance = 0
for index, rows in masterdf.iterrows(): 
    s_list = rows.Station_ID
    if(s_list!=reqcs):
        station.append(s_list)    
dff['Station'] = station
dff['Distance'] = temp_distance
dff.set_index('Station', inplace=True)

#set stations and distance

In [5]:
distance = distancedf[distancedf['L1'] == reqcs]

#got the reqcs distance and list of other cs

In [6]:
for indexa, rowsa in dff.iterrows(): 
    for indexb, rowsb in distance.iterrows():
        if(indexa==rowsb.L2):
            dff.at[indexa,'Distance']=distance.at[indexb,'Distance']
            
dff

         Energy   Predicted    Amount  Distance
Station
CS_1         49   52.891820  3.891820        50
CS_2         81   85.394449  4.394449        53
CS_3        113  117.727388  4.727388        58
CS_4        118  122.770685  4.770685        59
CS_5        155  160.043425  5.043425        57
CS_6        143  147.962845  4.962845        79
CS_7        138  142.927254  4.927254        44
CS_8        121  125.795791  4.795791        46
CS_9        170  175.135798  5.135798        30
CS_10       156  161.049856  5.049856        21
CS_12       172  177.147494  5.147494        54
CS_13       115  119.744932  4.744932        49
CS_14       263  268.572154  5.572154        57

In [7]:
dff.to_csv('Analysis\T'+str(time)+'.csv')

#write time analysis

In [8]:
dff.sort_values("Amount", axis = 0, ascending = True, inplace = True)
dff

         Energy   Predicted    Amount  Distance
Station
CS_1         49   52.891820  3.891820        50
CS_2         81   85.394449  4.394449        53
CS_3        113  117.727388  4.727388        58
CS_13       115  119.744932  4.744932        49
CS_4        118  122.770685  4.770685        59
CS_8        121  125.795791  4.795791        46
CS_7        138  142.927254  4.927254        44
CS_6        143  147.962845  4.962845        79
CS_5        155  160.043425  5.043425        57
CS_10       156  161.049856  5.049856        21
CS_9        170  175.135798  5.135798        30
CS_12       172  177.147494  5.147494        54
CS_14       263  268.572154  5.572154        57

In [9]:
dff.sort_values("Distance", axis = 0, ascending = True, inplace = True)
dff = dff.reset_index()
dff

   Station  Energy   Predicted    Amount  Distance
0    CS_10     156  161.049856  5.049856        21
1     CS_9     170  175.135798  5.135798        30
2     CS_7     138  142.927254  4.927254        44
3     CS_8     121  125.795791  4.795791        46
4    CS_13     115  119.744932  4.744932        49
5     CS_1      49   52.891820  3.891820        50
6     CS_2      81   85.394449  4.394449        53
7    CS_12     172  177.147494  5.147494        54
8     CS_5     155  160.043425  5.043425        57
9    CS_14     263  268.572154  5.572154        57
10    CS_3     113  117.727388  4.727388        58
11    CS_4     118  122.770685  4.770685        59
12    CS_6     143  147.962845  4.962845        79

In [10]:
station = dff.at[0,'Station']
station

'CS_10'

In [11]:
log = {'Time':[time],'Req Cs':[reqcs],'From CS':[station]}
logdf = pd.DataFrame(log)
logdf.set_index('Time', inplace=True)
logdf

     Req Cs From CS
Time
12    CS_11   CS_10

In [12]:
logdf.to_csv('log.csv', mode='a', header=False)